# File extensions
*.stderr
*.stdout
*.lexch
*.bexch
*.ali
*.cswi
*.a
*.o
*.d
*.db
*.db-shm
*.db-wal
*.cgpr
*.exe
*.log
*.rpt
*.directory
*.clang-format

# Library
obj/*
lib/*
src/glfw/*

# Included
src/GENERATED/webgpu.h

# Alire
alire/*

# Example project
test_project/obj/*